.UserDetailsHeader {
  max-width: 623px;
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5dfff;
  border-radius: 8px 8px 0px 0px;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
h4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  margin: 0px;
  background: #dbdbdb;
  border: 1px solid #6c6c6c;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
p {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  display: flex;
  align-items: center;
}

.imageWraooer {
  min-height: 138px;
  max-width: 160px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
